.skills-container {
    width: 31.3%;
    display: inline-table;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 180px;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 20px;
}

.skills-body {
    padding: 20px;
}

.skill-title {
    font-size: 20px;
    color: white;
    background-color: grey;
    padding: 10px 20px 10px 20px;;
    width: calc(100% - 40px);
}

@media screen and (max-width: 720px) {
    .skills-container {
        width: 47% !important;
    }
  }
