.timeline-circle {
    width: 100px;
    border-radius: 100px;
    color: grey;
    font-size: 14px;
    display: inline-block;
    padding: 40.5px 0 40.5px 0 !important;
}

.circle-box {
    align-content: center;
    text-align: center;
    display: inline-block;
}

.light-blue-circle {
    border: 5px solid #7CD7EA;
}

.blue-circle {
    border: 5px solid #6CB8C4;
}

.medium-blue-circle {
    border: 5px solid #339CA9;
}

.dark-blue-circle {
    border: 5px solid #13565B;
}

.company-circle {
    width: 25% !important;
}

.tbog-circle {
    margin-left: 15%;
    width: 21%;
}

.hockey-circle {
    /* margin-left: 6%;*/
    width: 16%;
}

.skiing-circle {
    /* margin-left: 40%;*/
    width: 21%;
}

.timeline-circles-container {
    width: 100%;
    display: inline-block;
}

.timeline {
    margin-bottom: -5px;
}